<script id="movie-template" type="text/x-handlebars-template">
  {{title}} <br />
  {{year}}
</script>

<script id="movies-template" type="text/x-handlebars-template">
  <h1> TEST TEST </h1>
</script>