<% provide(:title, "post view test") %>
<header class="top-nav">
  <div class="nav-head"><h1>mblg</h1></div>
  <div class="nav-option list">list</div>
  <div class="nav-option about">huh?</div>
</header>
<div class="container">
  <div class="main">
   <section class="about">
    <div class="container">
      <header><h1> Wait. What? </h1></header>
      <p>I'm gonna put the tl;dr at the top and save you some time: this is just a simple movie blog by some rando who isn't in any way a film buff or has any unique perspective on these movies at all.</p>
      <p>The origin of this blog was a  decision to watch more movies, and especially to "catch up" on the seminal (or otherwise popular) movies of my lifetime. So in order to actually start doing this (and because I like to make an ordeal out of things), I put together a chronological list of 100 movies from the 90s and dedicated myself to watching and writing a little bit about each. I posted my mini critiques and reaction essays on a (private) forum, until one day I decided to make this website because things weren't ordeal-ish enough for me.</p>
      <p>Click <a href="/#list">here</a> to see the list as I have curated it for myself. I went in wanting to catch up on "seminal" or "important" movies but in the interest of variety (and the 10-movies-per-year arbitrary constraint I put on myself) the list as it turned out seems completely random. We have Goodfellas and Spice World on there together. Whatever, man, this is my bogus self-education and I do it my way. Note that these are movies that I had NOT already seen, so that's why <i>*insertfamousmoviehere*</i> isn't on there.</p>
      <p>The early entries on this blog have been moved from their original location (private forum), and may have been written long before their purported timestamp. Also, some of those original essays have been lost to bad database maintenance, so there might be a hasty stand-in post for those movies. This is what happens when you give yourself arbitrary rules and you force yourself to stick with them.</p>
      <div class="me"><img src="https://en.gravatar.com/userimage/51643547/98c26360a2f82f88284b38e5771bba9d.jpg?size=100"><p>Oh yeah, who am I exactly? I'm Daniel Uebelein. This is my face. Sometimes I tweet <a href="https://twitter.com/Danueb">here</a> but usually I'm not doing that.</p></div>
    </div>
   </section>
  </div>
</div>
