<% provide(:title, "post view test") %>
<header class="top-nav">
  <div class="nav-head buttonify"><h1>mblg</h1></div>
  <div class="nav-option list">list</div>
  <div class="nav-option about">huh?</div>
</header>
<div class="container">
  <div class="main">
   <section class="list">
    <div class="container">
      <header><h1> Movie List </h1></header>
      <ul>
        <li><span>(1990)</span> Rosencrantz & Guildenstern Are Dead</li>
        <li><span>(1990)</span> The Hunt for Red October</li>
        <li><span>(1990)</span> The Cook the Thief His Wife & Her Lover</li>
      </ul>
   </section>
  </div>
</div>